
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe

.vscode/
*.sln.docstates


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


packages/

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Nn][Yy]/


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*



TestResult.xml


Thumbs.db
ehthumbs.db


*.cab
*.msi
*.msm
*.msp


*.lnk